.app-container {
   width: 100vw;
   display: flex;
   justify-content: center;
   padding: 2rem;
}

.bingo {
  background-color: var(--color-light);
  @include border-box();
  @include drop-shadow();
  position: absolute;
  min-height: calc(100% - 5rem);
  padding: 3%;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;

  &__title{
    background-color: violet;
    display: flex;
    justify-content: space-evenly;
    width: 70vw;
  }

  &__container {
    display: flex;    
  }
}
.board {
  width: 70vw;
  min-height: 85vh;
  display: grid;

  grid-auto-flow: column;
 
  
  &__cell {
    border: solid;
    border-color: var(--color-light);
    font-size: 1.7rem;
   
    background-color: var(--color-b);
    background-image: radial-gradient(var(--color-b), rgba(55,20,20,0.5));
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--quick-transition);
    &-on {    
      background-image: none;
      background-color: var(--color-c);
      color: var(--color-b);
    }
    &-title {    
      min-height: 8rem;
      background-image: none;
      background-color: var(--color-e);
      color: var(--color-light);
      width:100%
    }
  }
}
.display {
  border: solid;
  border-color: var(--color-d);
  color: var(--color-b);
  display: flex;
  flex-direction: column;

  &__number {
    flex: 0.75;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6vw;
    padding: 10%;
    min-width: 15%;
    background-color: var(--color-d);
    background-image: radial-gradient(var(--color-light), var(--color-c));
    &-off {
      color: transparent;
    }
  }
  &__button {
    flex: 0.25;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10%;
    font-size: 5vw;
    color: var(--color-light);
    background-color: var(--color-e);
    cursor: pointer;
  }
}
