@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin drawLogo($color) {
    display: flex;
    flex-direction: column;
    color:$color;
    &__head{
        font-family: 'Utopia';
         text-align: center;
        font-size: 14vw;
        line-height: 0.8;
    }
    &__sub{
        width: 100%;
        height: 100%;
         text-align: center;
        font-size: calc(100vw/24);
        font-weight: 200;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &:before{
            content: "";
            position: relative;
            height: 0.15rem;
            flex: 0.3;
            background-color:$color;
        }
        &:after{
            content: "  ";
            position: relative;
            height: 0.15rem;
            flex: 0.3;
            background-color:$color;
        }
    }
}

@mixin drop-shadow($opacity: 0.15, $color: #000) {
    -webkit-box-shadow: 2px 2px 4px 0px  rgba(#000,$opacity);
    -moz-box-shadow: 22px 2px 4px 0px rgba(#000,$opacity);
    box-shadow: 2px 2px 4px 0px rgba(#000,$opacity);
}

@mixin border-box() {
    border: solid;
    border-width: thin;
    border-color: var(--color-d);
}
