:root {
  --color-a: #D2282F;
  --color-a-light: #FF3366;
  --color-a-dark: #BA265D;
  --color-a-20: rgba(207, 38, 43,0.2);
  --color-a-60: rgba(207, 38, 43,0.6);
  --color-b: rgb(43, 66, 12);
  --color-c: rgb(245, 183, 50);
  --color-c-30:  rgba(250, 194, 77,0.32);
  --color-d: #C2B93E;
  --color-e: #BD6739;
  --color-light: rgb(247, 246, 235);
  --color-dark: rgb(12, 19, 4);
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
  --shadow-light: 2px 3px 9px 2px rgba(12,46,17,0.25);
  --line: 2px solid var(--color-dark);
  --base-transition: all .6s cubic-bezier(0.86, 0, 0.07, 1);
  --quick-transition: all .15s cubic-bezier(0.86, 0, 0.07, 1);
  --padding-small: 2rem;
  --border-radius: 1rem; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 62.5em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Montserrat', 'Open Sans', sans-serif;
  font-weight: 800;
  line-height: 1.6;
  color: var(--color-light); }

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  text-transform: uppercase;
  font-family: utopia-std-headline;
  font-weight: 800;
  font-style: normal; }

.app-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 2rem; }

.bingo {
  background-color: var(--color-light);
  border: solid;
  border-width: thin;
  border-color: var(--color-d);
  -webkit-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 22px 2px 4px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.15);
  position: absolute;
  min-height: calc(100% - 5rem);
  padding: 3%;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column; }
  .bingo__title {
    background-color: violet;
    display: flex;
    justify-content: space-evenly;
    width: 70vw; }
  .bingo__container {
    display: flex; }

.board {
  width: 70vw;
  min-height: 85vh;
  display: grid;
  grid-auto-flow: column; }
  .board__cell {
    border: solid;
    border-color: var(--color-light);
    font-size: 1.7rem;
    background-color: var(--color-b);
    background-image: radial-gradient(var(--color-b), rgba(55, 20, 20, 0.5));
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--quick-transition); }
    .board__cell-on {
      background-image: none;
      background-color: var(--color-c);
      color: var(--color-b); }
    .board__cell-title {
      min-height: 8rem;
      background-image: none;
      background-color: var(--color-e);
      color: var(--color-light);
      width: 100%; }

.display {
  border: solid;
  border-color: var(--color-d);
  color: var(--color-b);
  display: flex;
  flex-direction: column; }
  .display__number {
    flex: 0.75;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6vw;
    padding: 10%;
    min-width: 15%;
    background-color: var(--color-d);
    background-image: radial-gradient(var(--color-light), var(--color-c)); }
    .display__number-off {
      color: transparent; }
  .display__button {
    flex: 0.25;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10%;
    font-size: 5vw;
    color: var(--color-light);
    background-color: var(--color-e);
    cursor: pointer; }
