:root {
    --color-a: #D2282F;
    --color-a-light: #FF3366;
    --color-a-dark: #BA265D;

    --color-a-20: rgba(207, 38, 43,0.2);
    --color-a-60: rgba(207, 38, 43,0.6);

    --color-b: rgb(43, 66, 12);
    
    --color-c: rgb(245, 183, 50);
    --color-c-30:  rgba(250, 194, 77,0.32);

    --color-d: #C2B93E;
    --color-e: #BD6739;


    --color-light: rgb(247, 246, 235);
    --color-dark: rgb(12, 19, 4);    

    --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
    --shadow-light: 2px 3px 9px 2px rgba(12,46,17,0.25);

    --line: 2px solid var(--color-dark);

    --base-transition: all .6s cubic-bezier(0.86, 0, 0.07, 1);
    --quick-transition: all .15s cubic-bezier(0.86, 0, 0.07, 1);

    --padding-small: 2rem;

    --border-radius: 1rem;
}

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600px

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%

    @media only screen and (max-width: $bp-large) {
        font-size: 50%;
    }
}

body {
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    font-weight: 800;
    line-height: 1.6;
    color: var(--color-light);
    
}
a:link,  a:visited, a:hover, a:active{
    text-decoration: none;
    text-transform: uppercase;
    font-family: utopia-std-headline;
    font-weight: 800;
    font-style: normal;
  }
